@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Montserrat:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Titillium+Web:wght@300&display=swap");
* {
  margin: 0;
  padding: 0; }

.footer p {
  color: white;
  font-family: "Montserrat Alternates", sans-serif;
  padding: 1rem; }

.w-100 {
  height: 40vh; }

.carousel-caption a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 400;
  padding: 4px; }

.carousel-caption h5 {
  font-family: "Montserrat", sans-serif; }

.sliderColor {
  background-color: #b6b3b3; }

.infoMain {
  background-color: #b6b3b3;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  padding-left: 2px; }
  .infoMain a {
    color: #ffff;
    text-decoration: none; }
  .infoMain h1 {
    font-family: "Montserrat", sans-serif;
    background-color: #b6b3b3; }
  .infoMain span {
    font-weight: bold; }
  .infoMain p {
    font-family: "Titillium Web", sans-serif;
    text-align: center;
    padding-left: 4rem;
    padding-right: 4rem; }

.infoCards {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem; }
  .infoCards h2 {
    font-family: "Montserrat", sans-serif;
    background-color: #ffff; }
  .infoCards h4 {
    font-family: "Montserrat", sans-serif;
    background-color: #ffff;
    font-weight: bold; }
  .infoCards .imgReef {
    padding-left: 1rem; }

.card {
  border: none;
  transition: 1s; }
  .card:hover {
    transform: scale(1.1);
    transition: 3s;
    border: solid 1.1px black;
    -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
  .card a {
    text-decoration: none;
    color: #ffff; }
    .card a h5 {
      font-family: "Montserrat", sans-serif;
      background-color: #b6b3b3; }
  .card .card-text {
    font-family: "Montserrat Alternates", sans-serif; }

.rowFooter {
  align-items: center; }

.footer {
  background-color: #2b2b2b; }
  .footer a {
    margin-left: 5rem;
    padding: 2rem;
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif; }
    .footer a:hover {
      background-color: gray;
      color: black;
      font-weight: bold; }

.shadow-drop-center {
  -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35); } }

@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35); } }

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@media (max-width: 576px) {
  .card {
    border: solid #b6b3b3; }
  .carousel-item img {
    height: 25vh; }
  .imageLogo img {
    display: none; }
  .imgReef {
    width: 75vw;
    padding: 1rem; } }

.navbar {
  background-color: #ffff;
  border-bottom: solid 2px #8d8b8b; }
  .navbar li:hover {
    background-color: #b6b3b3; }

.navbar-brand:hover {
  transform: scale(1.2); }

.dropdown-menu {
  background-color: #ffff; }
  .dropdown-menu .imgLi {
    width: 3vw; }
  .dropdown-menu .dropdown-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; }
    .dropdown-menu .dropdown-item:hover {
      background-color: #b6b3b3; }

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; }

.text-focus-in {
  animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0; }
  100% {
    filter: blur(0px);
    opacity: 1; } }

.shadow-drop-center {
  -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35); } }

@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35); } }

.flicker-5 {
  -webkit-animation: flicker-5 8s linear infinite both;
  animation: flicker-5 8s linear infinite both; }

@-webkit-keyframes flicker-5 {
  0%,
  100% {
    opacity: 1; }
  -0.02% {
    opacity: 1; }
  0% {
    opacity: 1; }
  1% {
    opacity: 1; }
  1.02% {
    opacity: 1; }
  8.98% {
    opacity: 1; }
  9% {
    opacity: 0; }
  9.8% {
    opacity: 0; }
  9.82% {
    opacity: 1; }
  9.48% {
    opacity: 1; }
  9.5% {
    opacity: 1; }
  9.6% {
    opacity: 1; }
  9.62% {
    opacity: 1; }
  14.98% {
    opacity: 1; }
  15% {
    opacity: 0.5; }
  15.8% {
    opacity: 0.5; }
  15.82% {
    opacity: 1; }
  15.18% {
    opacity: 1; }
  15.2% {
    opacity: 0.7; }
  16% {
    opacity: 0.7; }
  16.02% {
    opacity: 1; }
  15.48% {
    opacity: 1; }
  15.5% {
    opacity: 0.5; }
  16.2% {
    opacity: 0.5; }
  16.22% {
    opacity: 1; }
  16.98% {
    opacity: 1; }
  17% {
    opacity: 1; }
  17.8% {
    opacity: 1; }
  17.82% {
    opacity: 1; }
  20.48% {
    opacity: 1; }
  20.5% {
    opacity: 0.9; }
  21.3% {
    opacity: 0.9; }
  21.32% {
    opacity: 1; }
  20.98% {
    opacity: 1; }
  21% {
    opacity: 1; }
  22% {
    opacity: 1; }
  22.02% {
    opacity: 1; }
  39.98% {
    opacity: 1; }
  40% {
    opacity: 1; }
  41% {
    opacity: 1; }
  41.02% {
    opacity: 1; }
  40.48% {
    opacity: 1; }
  40.5% {
    opacity: 0.6; }
  41.4% {
    opacity: 0.6; }
  41.42% {
    opacity: 1; }
  41.98% {
    opacity: 1; }
  42% {
    opacity: 1; }
  42.8% {
    opacity: 1; }
  42.82% {
    opacity: 1; }
  59.98% {
    opacity: 1; }
  60% {
    opacity: 1; }
  61% {
    opacity: 1; }
  61.02% {
    opacity: 1; }
  60.18% {
    opacity: 1; }
  60.2% {
    opacity: 0.2; }
  61% {
    opacity: 0.2; }
  61.02% {
    opacity: 1; }
  60.78% {
    opacity: 1; }
  60.8% {
    opacity: 0.4; }
  61.6% {
    opacity: 0.4; }
  61.62% {
    opacity: 1; }
  61.38% {
    opacity: 1; }
  61.4% {
    opacity: 0; }
  62.2% {
    opacity: 0; }
  62.22% {
    opacity: 1; }
  61.78% {
    opacity: 1; }
  61.8% {
    opacity: 1; }
  62.8% {
    opacity: 1; }
  62.82% {
    opacity: 1; }
  75.98% {
    opacity: 1; }
  76% {
    opacity: 1; }
  77% {
    opacity: 1; }
  77.02% {
    opacity: 1; }
  77.98% {
    opacity: 1; }
  78% {
    opacity: 0.7; }
  78.8% {
    opacity: 0.7; }
  78.82% {
    opacity: 1; }
  78.98% {
    opacity: 1; }
  79% {
    opacity: 1; }
  80% {
    opacity: 1; }
  80.02% {
    opacity: 1; }
  99.98% {
    opacity: 1; }
  100% {
    opacity: 1; }
  101% {
    opacity: 1; }
  101.02% {
    opacity: 1; } }

@keyframes flicker-5 {
  0%,
  100% {
    opacity: 1; }
  -0.02% {
    opacity: 1; }
  0% {
    opacity: 1; }
  1% {
    opacity: 1; }
  1.02% {
    opacity: 1; }
  8.98% {
    opacity: 1; }
  9% {
    opacity: 0; }
  9.8% {
    opacity: 0; }
  9.82% {
    opacity: 1; }
  9.48% {
    opacity: 1; }
  9.5% {
    opacity: 1; }
  9.6% {
    opacity: 1; }
  9.62% {
    opacity: 1; }
  14.98% {
    opacity: 1; }
  15% {
    opacity: 0.5; }
  15.8% {
    opacity: 0.5; }
  15.82% {
    opacity: 1; }
  15.18% {
    opacity: 1; }
  15.2% {
    opacity: 0.7; }
  16% {
    opacity: 0.7; }
  16.02% {
    opacity: 1; }
  15.48% {
    opacity: 1; }
  15.5% {
    opacity: 0.5; }
  16.2% {
    opacity: 0.5; }
  16.22% {
    opacity: 1; }
  16.98% {
    opacity: 1; }
  17% {
    opacity: 1; }
  17.8% {
    opacity: 1; }
  17.82% {
    opacity: 1; }
  20.48% {
    opacity: 1; }
  20.5% {
    opacity: 0.9; }
  21.3% {
    opacity: 0.9; }
  21.32% {
    opacity: 1; }
  20.98% {
    opacity: 1; }
  21% {
    opacity: 1; }
  22% {
    opacity: 1; }
  22.02% {
    opacity: 1; }
  39.98% {
    opacity: 1; }
  40% {
    opacity: 1; }
  41% {
    opacity: 1; }
  41.02% {
    opacity: 1; }
  40.48% {
    opacity: 1; }
  40.5% {
    opacity: 0.6; }
  41.4% {
    opacity: 0.6; }
  41.42% {
    opacity: 1; }
  41.98% {
    opacity: 1; }
  42% {
    opacity: 1; }
  42.8% {
    opacity: 1; }
  42.82% {
    opacity: 1; }
  59.98% {
    opacity: 1; }
  60% {
    opacity: 1; }
  61% {
    opacity: 1; }
  61.02% {
    opacity: 1; }
  60.18% {
    opacity: 1; }
  60.2% {
    opacity: 0.2; }
  61% {
    opacity: 0.2; }
  61.02% {
    opacity: 1; }
  60.78% {
    opacity: 1; }
  60.8% {
    opacity: 0.4; }
  61.6% {
    opacity: 0.4; }
  61.62% {
    opacity: 1; }
  61.38% {
    opacity: 1; }
  61.4% {
    opacity: 0; }
  62.2% {
    opacity: 0; }
  62.22% {
    opacity: 1; }
  61.78% {
    opacity: 1; }
  61.8% {
    opacity: 1; }
  62.8% {
    opacity: 1; }
  62.82% {
    opacity: 1; }
  75.98% {
    opacity: 1; }
  76% {
    opacity: 1; }
  77% {
    opacity: 1; }
  77.02% {
    opacity: 1; }
  77.98% {
    opacity: 1; }
  78% {
    opacity: 0.7; }
  78.8% {
    opacity: 0.7; }
  78.82% {
    opacity: 1; }
  78.98% {
    opacity: 1; }
  79% {
    opacity: 1; }
  80% {
    opacity: 1; }
  80.02% {
    opacity: 1; }
  99.98% {
    opacity: 1; }
  100% {
    opacity: 1; }
  101% {
    opacity: 1; }
  101.02% {
    opacity: 1; } }

.containerPuma {
  text-align: center;
  align-items: center;
  font-family: "Montserrat", sans-serif; }
  .containerPuma h3 {
    margin: 1rem; }
  .containerPuma .card-body {
    background-color: #ddd6d6; }
    .containerPuma .card-body h5 {
      font-weight: bold; }

.ag {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .ag a {
    text-decoration: none; }
    .ag a h4 {
      color: #8d8b8b;
      font-weight: 400;
      font-size: 2rem; }
      .ag a h4:hover {
        color: #d8d1d1; }
  .ag .imageLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .ag .imageLogo img {
      max-width: 4vw; }

.containerReef {
  text-align: center;
  font-family: "Montserrat", sans-serif; }
  .containerReef h3 {
    margin: 1rem; }
  .containerReef .card-body {
    background-color: #ddd6d6; }
    .containerReef .card-body h5 {
      font-weight: bold; }

.coleccionCards {
  justify-content: center;
  align-items: center; }

.card {
  margin-left: 1rem; }

.containerRecomendacion {
  text-align: center;
  background-color: #b6b3b3;
  font-family: "Montserrat", sans-serif;
  padding: 1rem; }
  .containerRecomendacion a {
    text-decoration: none; }
    .containerRecomendacion a h4 {
      color: #ffff;
      font-weight: 400;
      font-size: 3rem; }
      .containerRecomendacion a h4:hover {
        color: #747272; }
  .containerRecomendacion .imageRecomendacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .containerRecomendacion .imageRecomendacion img {
      max-width: 4vw;
      max-height: 4vh; }

.focus-in-expand {
  -webkit-animation: focus-in-expand 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-expand 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35); } }

@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35); } }

@media (max-width: 576px) {
  .imageRecomendacion img {
    display: none; } }

.containerForm {
  text-align: center; }
  .containerForm h6 {
    font-family: "Montserrat", sans-serif; }

.main {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .main .info {
    margin-left: 2rem;
    align-items: center; }
    .main .info p {
      padding-top: 1rem;
      font-family: "Titillium Web", sans-serif; }

.clientes {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .clientes h3 {
    text-align: center;
    margin-bottom: 1rem;
    font-family: "Titillium Web", sans-serif; }
  .clientes .imgClientes {
    padding-top: 2rem; }
  .clientes .licencias .infoLicencias {
    display: flex;
    flex-direction: column; }
    .clientes .licencias .infoLicencias img {
      width: 20vw;
      margin-top: 3rem;
      margin-left: 3rem; }

@media (max-width: 576px) {
  .main {
    max-width: 570px; }
    .main p {
      text-align: left;
      padding-right: 2rem; }
    .main img {
      display: none; }
  .imgAños {
    display: none; }
  .clientes {
    flex-wrap: wrap;
    justify-content: center; }
    .clientes .infoClientes img {
      width: 65vw; }
    .clientes .licencias {
      padding-top: 1rem;
      flex-direction: row;
      align-items: center; }
      .clientes .licencias .infoLicencias {
        flex-direction: row; }
        .clientes .licencias .infoLicencias img {
          width: 35vw; } }
