//extends
%estilosParrafo{
        color: white;
        font-family: $fontInfo;
        padding: 1rem;
}

//mixin
@mixin mixinH($font, $colorHoverNav){
    font-family: $font;
    background-color: $colorHoverNav;
}

